@import "~antd/lib/style/themes/default.less";

.content {
  :global {
    .ant-table-pagination.ant-pagination {
      float: left !important;
    }
    .ant-table-thead > tr > th, .ant-table-tbody > tr > td {
      padding-top: 1px !important;
      padding-bottom:1px !important;
  }
  }
}