@import "~antd/lib/style/themes/default.less";

html, body, :global(#root) {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

:global {
  .alignCenter {
    text-align: center;
  }
  .ant-table-pagination.ant-pagination {
    float: left !important;
    margin: 8px 0px 0px 0px;
  }
  .ant-table-small table {
    border-collapse: collapse!important;
    overflow: visible!important;
  }
  // .ant-menu.ant-menu-dark .ant-menu-item-selected,
  // .ant-menu-submenu-popup.ant-menu-dark .ant-menu-item-selected {
  //   background-color: #08979c !important;
  // }
}